body{
    background-color: rgb(199, 233, 204);
}
h1{
    color: rgb(53, 107, 109);
}
li{
    list-style: disc;
    text-decoration: dashed;
}
#colorfondo{
    display: none;
}
a{
    text-decoration: none;
    color: black;
    background-color: cadetblue;
    border: 1px solid black;
}